<div class="container">
  <div class="col-md-12 space-m article-block">
    <h1 class="text-center">ブログの編集</h1>
    <%= image_tag "top-image1.jpg", class: 'img-responsive image-block-top' %>
    <%= render 'form' ,article: @article %>
