<div class="container">
  <div class="col-md-12 space-m article-block">
    <h1 class="text-center">ブログの新規作成</h1>
    <%= image_tag 'top-image1.jpg', class: 'article-image image-block-top' %>
    <div class="image-block-bottom">
      <%= render 'form' ,article: @article %>
    </div>
  </div>
</div>
